<form action="/prehistoric_creatures" method="POST">
    <label for="creatureType">Type</label>
    <input type="text" id="creatureType" name="type">

    <label for="creatureImg">Creature Image URL</label>
    <input type="url" id="creatureImg" name="img_url">

    <input type="submit" value="Add a Creature">
</form>